body {
    height: 100%;
}

.sidebar-logo {
    background-image: url(/images/portrait.JPG);
    height: 8rem;
    width: 8rem;
    background-size: cover;
    display: block;
    margin: 16% auto 4%;
    border-radius: 90px;
}

#headerLogo {
    position: absolute;
    top: 0;
    right: 0;
    line-height: 56px;
    padding: 0 20px;
    font-family: aileron;
    font-size: 1.5rem;
    color: #fff;
    text-shadow: 2px 2px 0px rgba(0,0,0,0.1);
    text-decoration: none;
}

#headerLogo > img {
    position: relative;
    vertical-align: middle;
    max-height: 40px;
    max-width: 40px;
    top: -1px;
    border-radius: 2px;
}

a {
    color: #1a73e8;
    text-decoration: none;
}

footer {
    max-height: 56px;
    min-height: 56px;
    border-top: 1px solid #e0e0e0;
}

.footerContainer {
    margin: 0 auto;
    padding: 1.25rem 4rem;
    color: #494949b8;
}

.footer-content {
    font-size: 12px;
    float: right;
    color: rgb(66,66,66);
    font-family: aileronlight;
}

.darkmode-footer .footer-content {
    color: #fff !important;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

@media only screen and (max-width: 450px) {
     .footerContainer {
         padding: 1rem;
     }
}