.homeImage {
    background-image: url(/images/banner/SF_skyline.JPG);
    background-size: cover;
    height: auto;
    background-position-y: bottom;
    width: -webkit-fill-available;
    position: relative;
}

.banner-image-wrapper {
    height: auto;
    background: rgba(0, 0, 0, 0.55);
    display: flex;
    flex-basis: 100%;
}

.content-container {
    width: 100%;
    margin: 0 auto;
}

.content-wrapper {
    display: block;
    margin: 0 auto;
    height: 100%;
    padding: 2.5rem 4rem;
    background-color: #fff;
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.portfolio-commands-wrapper {
    width: 100%;
}

.portfolio-commands {
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: left;
}

.portfolio-command {
    border-left: .1875rem solid transparent;
    border-right: .1875rem solid transparent;
    box-sizing: border-box;
    color: #999a9c;
    display: inline-block;
    font-size: 3.15rem;
    font-family: aileronlight;
    line-height: 3.2rem;
    margin: 0 1%;
    padding: .125rem .5rem 0;
    text-align: center;
    cursor: pointer;
}

.portfolio-command:first-of-type {
    margin-left: 0;
}

.active {
    border-bottom: .1875rem solid #1a73e8;
    color: #1a73e8;
}

.active:focus {
    outline: none;
}

.portfolio-command:not(.active):focus {
    outline: none;
    border-bottom: .1875rem solid #5f6368;
    color: #5f6368;
}

.portfolio-content-container {
    display: none;
    margin-top: 3rem;
    text-align: left;
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-family: aileronlight;
}

.content-separator-flat {
    border-bottom: 1px solid grey;
    padding: 25px 0;
    width: 10%;
    text-align: left;
}

.examples-arrow-wrapper {
    margin: 0 auto;
    text-align: center;
    padding: 15px 0;
}

.examples-arrow {
    border: solid rgba(87, 86, 86, 0.87);
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 15px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin: 0 auto;
    text-align: center;
}

.content-sub-wrapper {
    margin: 3rem 0;
}

.article-header {
    font-family: aileron;
    font-size: 1.8rem;
    color: #1a73e8;
    padding-bottom: 10px;
}
.article-description {
    padding-bottom: 10px;
}
.article-example {
    margin-top: 1.5rem;
}

.article-example video {
    width: 100%;
    max-width: 750px;
    box-shadow: 0 1px 10px 8px rgba(0,0,0,0.12), 0 3px 11px 0px rgba(0,0,0,0.24);
    border-radius: 10px;
    margin: 1.5rem auto;
    text-align: center;
    display: block;
}

@media only screen and (max-width: 850px) {
    .content-wrapper {
        padding: 3rem;
    }
    .portfolio-content-container {
        margin-top: 2.25rem;
    }
    .portfolio-command {
        font-size: 3rem;
        line-height: 3rem;
        margin: 0 .5%;
        min-width: 0;
    }
    .page-header, .article-description {
        font-size: 1.4rem;
        line-height: 1.8rem;
    }
    .content-separator-flat {
        padding: 20px 0;
    }
}

@media only screen and (max-width: 625px) {
    .portfolio-content-container {
        margin-top: 2.25rem;
    }
    .portfolio-command {
        font-size: 2.8rem;
        line-height: 2.8rem;
        margin: 0;
        min-width: 0;
    }
    .page-header,.article-description {
        font-size: 1.25rem;
        line-height: 1.6rem;
    }
    .content-separator-flat {
        padding: 18px 0;
    }
}

@media only screen and (max-width: 540px) {
    .content-wrapper {
        padding: 2.5rem;
        margin: 0;
    }
    .portfolio-command {
        font-size: 2.5rem;
        line-height: 2.5rem;
        min-width: 0;
        margin: 0;
    }
    .page-header,.article-description {
        font-size: 1.15rem;
        line-height: 1.5rem;
    }
}

@media only screen and (max-width: 450px) {
    .portfolio-content-container {
        margin-top: 2rem;
    }
    .content-wrapper {
        padding: 2rem;
        margin: 0;
    }
    .portfolio-command {
        font-size: 1.75rem;
        line-height: 1.75;
        min-width: 0;
        margin: 0;
    }
    .page-header,.article-description {
        font-size: 1rem;
        line-height: 1.5rem;    
    }
}

@media only screen and (max-width: 380px) {
    
}